In [3]:
import pandas as pd
import numpy as np

In [ ]:
!install torch

In [7]:
df_mentor = pd.read_excel('../data/mentors_10000.xlsx')

In [8]:
df_mentor

         name experience category subcategory
0         멘토1         7년      스포츠      이색 스포츠
1         멘토2         5년     사주타로          타로
2         멘토3        10년  데이터개발AI      웹 앱 개발
3         멘토4         7년       뷰티       스킨 케어
4         멘토5         5년   비즈니스경영      서비스 기획
...       ...        ...      ...         ...
9995   멘토9996         3년   라이프스타일       에세이 시
9996   멘토9997         3년       뷰티       헤어 네일
9997   멘토9998         7년   비즈니스경영        영업MD
9998   멘토9999         4년      마케팅     퍼포먼스마케팅
9999  멘토10000         3년      마케팅     SNS채널육성

[10000 rows x 4 columns]

In [9]:
# experience의 년을 숫자로 만듬
df_mentor['experience'] = df_mentor['experience'].str.replace('년','').astype(int)